*{
    text-align: center;
}

.font{
    font-size: 18px;
    color: white;
    text-align: center;
}

.font1{
    font-size: 16px;
    text-align: center;
}

.sublinks{

    cursor: pointer;
    text-align: center;
    
}

.sublinks>a:hover {
    background-color: rgb(236, 226, 226);
  }


  .background{
      background-color: #7f5539;
      content: center;
  }